<div class="flex justify-center h-screen items-center flex-col">
  @if(isSelecting){
    <p>Select an alien!</p>
  }
  <div class="grid grid-cols-6 place-items-center gap-3">
    <app-character-block (imageChoose)="selectImage($event)" *ngFor="let _ of [].constructor(24);let i= index" [index]="i" [isSelecting]="isSelecting">
    </app-character-block>
  </div>
  @if(!isSelecting){
    <div class="mt-5 flex gap-5 items-center flex-col">
      <p>Selected alien: </p>
      <app-character-block [isPreviewOnly]="true" [index]="selectedImage"></app-character-block>
    </div>
  }
</div>
